<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <h2>This is the home page. It's pretty boring.</h2>

  <%= link_to "Sign Up now!", "#", class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails Logo", width: 200), "https://railstutorial.org" %>
<%= image_tag("kitten.jpg", alt: "Picture of kitten", width: 80) %>
