<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="handleFormSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" style="margin-right: 10px;" [disabled]="!recipeForm.valid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="handleCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath" class="form-control" formControlName="imagePath">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="display: flex; justify-content: center;">
                    <img [src]="recipeForm.get('imagePath').value" class="img-responsive" style="max-width: 175px" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" class="form-control" rows=6 formControlName="description"></textarea>
                </div>
            </div>
            <!-- Ingredients -->
            <div class="row" style="margin-top: 20px">
                <div class="col-xs-12" formArrayName="ingredients">
                    <h4>Ingredients</h4>
                    <div class="row" *ngFor="let ing of ingredientControls; let i = index" [formGroupName]="i" style="margin-top: 10px;">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" formControlName="name" />
                        </div>
                        <div class="col-xs-2">
                            <input type="number" min="0" max class="form-control" formControlName="amount" />
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" type="button" (click)="deleteIngredient(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="button" (click)="addNewIngredient()">Add Ingredient</button>
                </div>
            </div>
        </form>
    </div>
</div>