<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" [alt]="recipe.description" class="img-responsive" style="max-height: 300px;">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Manage this Recipe <span class="caret"></span></button>
            <div class="dropdown-menu">
                <li><a (click)="handleAddToShoppingList()" style="cursor: pointer;">Add to Shopping List</a> </li>
                <li style="cursor: pointer;"><a [routerLink]="['edit']">Edit Recipe</a></li>
                <li style="cursor: pointer;" (click)="handleDeleteRecipe(recipe)"><a>Delete Recipe</a></li>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
                {{ ingredient.name }} ({{ ingredient.amount }})
            </li>
        </ul>
    </div>
</div>