<div class="section">
    <input type="text" [(ngModel)]="username" (input)="onTextChange($event)" />
    <p *ngIf="!buttonDisabled">{{ username || "&nbsp;" }}</p>
    <button [disabled]="buttonDisabled" (click)="onClick()">Add Name</button>
</div>

<div class="section">
    <button (click)="onDisplayClick()">Display Details</button>
    <p *ngIf="showSecret; else blank">SECRET GOES HERE!</p>
    <ng-template #blank>
        <p>&nbsp;</p>
    </ng-template>

    <p
        *ngFor="let time of toggleClickTimes; let i = index"
        [ngStyle]="getParaStyle(i)"
        [ngClass]="{ whiteText: i >= 5 }"
    >
        {{time}}
    </p>
</div>

<server></server>
<server></server>
