html { margin: 0; box-sizing: border-box; overflow: hidden;}
*, *:before, *:after { box-sizing: inherit; }
:root {
  --active-color: steelblue;
}
body {
  font-family: "Avenir", "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
  background: black;
  display: grid;
  grid-template-rows: auto auto 1fr;
  text-transform: uppercase;
}
header {
  padding: 15px 0;
  text-align: center;
  background: var(--active-color);
  transition: all 0.4s;
}
header > * {margin: 0;}
header h1 { font-size: 4rem; font-weight: 100;}

.options {
  background: white;
  /* font-size: 1rem; */
  letter-spacing: 0.05rem;
  display: flex;
  padding: 0 18%;
  justify-content: space-between;
  font-weight: bold;
}
.options div {
  padding: 5px 10px;
}
.options .options__difficulty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}
.options__difficulty span, .options__new {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  transition: all 0.4s;
}
.options__new:hover, .options__difficulty span:hover {
  background: var(--active-color);
  cursor: pointer;
  color: white;
}
.active {
  background-color: var(--active-color);
  color: white;
}
.square {
  margin: 1.5%;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 15px;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.square__box {
  transition: all 0.6s;
  border-radius: 20px;
  width: 145px;
  height: 145px;
  margin: 20px;
  background-color: green;
}
.square__box:not(.disabled):hover {
  animation: jiggle 0.2s linear 0s infinite alternate;
  border: 5px solid white;
}
.disabled {
  background-color: black!important;
}

@keyframes jiggle {
  from {
    transform: rotateZ(0.5deg) scale(1.1);
  }
  to {
    transform: rotateZ(-0.5deg) scale(1.1);
  }
  /* 0%   { opacity: 0; }
  100% { opacity: 1; } */
}

@media (max-width: 500px) {
  .square {
    grid-gap: 0px;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(2, 120px);
  }
  .square__box {margin: 5px; width: 110px; height: 110px;}
  .options {
    padding: 0;
    font-size: 0.8rem;
  }
  header h1 {
    font-size: 3rem;
  }
}
