@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

body, html { box-sizing: border-box; margin: 0; background: #e5e7ea;}
*, *:before, *:after { box-sizing: inherit; }
body {
  font-family: 'Arimo', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --banner-margin: 20px;
}

/* ------------------------------------------------------------- */

.small-title {
  /* grid-column: span 2; */
  text-transform: uppercase;
  font-size: 0.9rem;
}
.small-title:after {
  content: "";
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid gray;
  opacity: 0.4;
  height: 15px;
  display: block;
}
.normal-button {
  text-transform: uppercase;
  border: 2px solid gray;
  background: transparent;
  color: #e5e7ea;
  font-size: 1.1rem;
  padding: 15px 35px;
  margin: 20px 0;
  letter-spacing: 0.08rem;
}


/* ----------------------------------- */
/* MAJOR ELEMENT -- top banner section */
/* ----------------------------------- */
.banner {
  background-image: url('music_artist_splash_banner.png'), linear-gradient(135deg, #a3bbc3 0%, #283034 100%);
  background-repeat: no-repeat;
  background-size: 60vh, auto;
  background-position: left 100px bottom, left 0 top 0;
  /* to account for the margin, the height should be reduced by the margin size */
  height: calc(100vh - (2 * var(--banner-margin)));
  min-height: 400px;
  margin: var(--banner-margin);
  color: #e5e7ea;
  transition: all 0.4s;
  display: grid;
  grid-template-columns: 100px 1fr auto;
  grid-gap: 0 calc(var(--banner-margin));
}
/* Logo image */
.banner__logo {
  padding: var(--banner-margin);
  max-width: 100%;
  transition: all 0.5s;
}
.banner__logo:hover {
  transform: scale(1.25);
}
/* Styles for mobile menu button */
.menu-button {
  display: none;
  width: 40px;
  height: 40px;
  border: 2px solid gray;
  background: #444e53;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 5px;
  z-index: 5;
  outline: none;
  padding: 6px 0;
  position: fixed;
  right: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu-button__line {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s linear;
  max-width: 100px;
}
.menu-button[aria-expanded="true"] > *:nth-child(1) {
transform: rotate(45deg) translateY(5px) translateX(4px)
}
.menu-button[aria-expanded="true"] > *:nth-child(2) {
  transform: rotate(-45deg) translateX(1px) translateY(-1px);
}
.menu-button[aria-expanded="true"] > *:nth-child(3) {
  max-width: 0;
}
/* Menu bar navigation */
.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 4;
  transition: all 0.4s;
}
.menu__nav-item {
  list-style-type: none;
  text-transform: uppercase;
  margin: 55px 25px;
  font-size: 0.9rem;
  font-weight: bold;
}
.menu__nav-link {
  text-decoration: none;
  color: #e5e7ea;
}
/* Artist title and latest news for the banner` */
.splash-banner {
  grid-column: 2;
  padding: calc(var(--banner-margin) * 2);
  justify-self: flex-end;
  text-transform: uppercase;
  text-align: right;
}
.splash-banner__name {
  margin: 0.2rem 0;
  font-size: 4.6rem;
  color: #e5e7ea;
}
.splash-banner__tour {
  margin: 0;
}
.splash-banner__date {
  margin: 0.2rem 0;
  color: gray;
}

/* ------------------------------ */
/* MAJOR ELEMENT -- about section */
/* ------------------------------ */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  color: #606368;
  margin-top: 75px;
  background: white;
}
.about__title {
  grid-column: span 2;
}
.about__quote {
  grid-column: span 2;
  font-family: cursive;
  font-size: 3.4rem;
  text-align: center;
  margin: 20px;
}
.about__text {
  justify-self: right;
  text-align: justify;
  padding-left: calc(var(--banner-margin) * 5);
  line-height: 2.2rem;
  font-size: 1.2rem;
  font-family: 'Garamond';
  align-self: flex-start;
}
.about__image {
  justify-self: left;
  margin: 0 30px;
}
.about__image img {
  max-width: 200px;
  border-radius: 50%;
  transition: all 0.8s;
}
.about__image:hover img {
  transform: rotateZ(50deg)
}


/* ------------------------------------ */
/* MAJOR ELEMENT -- latest work section */
/* ------------------------------------ */
.latest-work {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  color: #606368;
  padding: 75px var(--banner-margin);
  background: white;
}
.latest-work__albums {
  grid-column: span 2;
  width: 100%;
  margin-top: 20px;
  /*This is a grid itself*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 15px;
}
.album {
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
/* .album > * {
  width: 110px;
} */
.album__art {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.album__art:after {
  background-size: contain;
  content: "";
  display: block;
  height: 150px;
  background: url(https://b.thumbs.redditmedia.com/2x_qjvsvFWbFpCK3Bg_LknS7bObByPbnPTz-DdyFr9I.jpg);
  grid-column: 1;
  grid-row: 1;
  width: 150px;
  background-repeat: no-repeat;
  justify-self: flex-end;
  z-index: 3;
}
.album__art:hover > .album__art-vinyl {
  transform: translateX(0px)
}
.album__art-cover {
  width: 160px;
  height: 165px;
  justify-self: flex-end;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}
.album__art-vinyl {
  width: 80px;
  justify-self: flex-start;
  /* Hide it behind the cover */
  transform: translateX(-40px) translateY(-1px);
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
}
/* button for see all  */
.latest-work__see-all {
  color: #283034;
  opacity: 0.6;
  grid-column: span 2;
}

/* ----------------------------- */
/* MAJOR ELEMENT -- video player */
/* ----------------------------- */
.splash-video {
  display: grid;
  width: 100%;
  color: #e5e7ea;
  align-items: center;
  justify-items: center;
}
/* Make all children on top of each other (close button and play button) */
.splash-video > * {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash-video__play {
  z-index: 9999;
  font-size: 4.0rem;
  align-self: center;
  justify-self: center;
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  padding: 30px 30px 30px 45px;
}
.splash-video__play:hover {
  cursor: pointer;
}
.splash-video__close {
  font-size: 3rem;
  z-index: 9999;
  justify-self: flex-end;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  align-self: flex-start;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: none;
}
.splash-video__close:hover {
  cursor: pointer;
}
.splash-video__video {
  width: 70%;
  max-height: 98vh;
}

/* CSS for when video is PLAYING */
.splash-video.playing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}
.playing .splash-video__play {
  display: none;
}
.playing .splash-video__close {
  display: flex;
}

/* ----------------------------- */
/* MAJOR ELEMENT -- tour dates   */
/* ----------------------------- */
.tour-schedule {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  color: #606368;
  margin: 75px var(--banner-margin);
}
.tour-schedule__title {
  grid-column: 1 / -1;
}
.tour-schedule__tours {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  margin: 30px 0;
  grid-gap: 45px 0;
}
.tour-details {
  width: 70%;
  background: white;
  padding: 15px;
  outline: 10px solid white;
  border:  1px solid gray;
  text-align: center;
}
.tour-details__date {
  font-size: 3.5rem;
  margin: 10px;
  font-weight: bold;
}
.tour_details__month {
  margin: 0;
}
.tour-details__month:before {
  content: "";
  display: block;
  height: 10px;
  width: 30%;
  border-top: 1px solid lightgray;
  margin: auto auto 10px auto;
}
.tour-details__separator {
  border: 0.5px solid lightgray;
  margin: calc(var(--banner-margin) * 1.75) 0;
}
.tour-details__city {
  color: darkgray;
}
.tour-details__venue {
  font-weight: bold;
}
.tour-details__see-all {
  grid-column: 1 / -1;
  color: gray;
}


@media (max-width: 800px) {
  /* Reduce margin to 0 */
  :root { --banner-margin: 0px; }
  /* Remove image from background - it is hard to read text */
  .banner { background: linear-gradient(135deg, #a3bbc3 0%, #283034 100%); }
  /* make banner occupy whole bottom of grid */
  .splash-banner {
    text-align: center;
    align-self: center;
    grid-column: 1 / span 2;
    justify-self: center;
  }
  /* make menu bar vertical */
  .menu {
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 0;
    position: fixed;
    right: 0;
    background: white;
    height: 100%;
    width: 45%;
    border-left: 2px solid #606368;
    background: linear-gradient(to right, #f4f6f7 0%, #edeff7 100%);
  }
  .menu-button { display: flex; }
  /* For deailing with menu being open */
  .menu-open .menu-button[aria-expanded="true"] ~ .menu{
    max-width: 100%;
  }
  .menu-open > *:not(.banner) {
    transform: translateX(-45%);
  }
  .menu-open .banner {
    width: 130%;
    position: relative;
    left: -30%;
  }

  .normal-button {
    background: white;
    color: #606368;
  }
  .menu__nav-item {
    margin: 5px 0;
    width: 100%;
    font-size: 1.2rem;
  }
  .menu__nav-link { color: #606368; }

  .album {
    grid-template-columns: 1fr 100px;
    align-content: center;
    align-items: center;
    margin: 0 10px;
    grid-template-rows: auto;
  }
  .album__art {transform: scale(0.8)}
  .splash-video__video { width: 100%;}

  .about__image {display: none;}

  .about__text {grid-column: span 2; margin: 0 10px;}

  .about__quote { font-size: 1.7rem;}


}
