html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

.codepen {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  height: 100vh;
  width: 100%;
  color: white;
}
.pen {
  background: #1a1b1c;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
  border-bottom: 8px solid #343434;
}
.code {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
background-color: #1b2b3b;
}

.preview {
  display: grid;
}
.button {
  background-color: #343434;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: -0.02rem;
  color: white;
  padding: 11px 8px;
  position: relative;
}
.button--small {
  font-size: 14px;
  padding: 8px;
  height: auto;
}
.button--dirty:before {
  background-color: #ffc600;
  display: block;
  content: " ";
  width: calc(100% - 4px);
  height: 2px;
  position: absolute;
  left: 2px;
  top: 3px;
}
.editor {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}
.editor__header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 4px;
  align-items: center;
  grid-gap: 15px;
  background: rgba(0, 0, 0, 0.1)
}
.editor__input {
  background: #343434;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  color: white;
  font-size: 1.1rem;
  padding: 5px;
}
.editor__code {
  display: grid;
  grid-template-columns: auto 1fr;
}
.editor__gutter {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.pen img {
  max-height: 45px;
  max-width: 45px;
}

.pen__details {
  color: white;
  padding: 5px;
}
.pen__details  > * {
  font-weight: 100;
  padding: 0;
  margin: 0;
}
.settings {
  padding: 10px;
  background-color: black;
}
