body {
  text-align: center;
  margin: 5% auto;
}
body > div {
  width: 50%;
  margin: 0 auto;
}
body h1, body h2 {
  font-family: 'Slabo 27px', sans-serif;
  padding: 4%;
  width: 100%;
}
body h1 {
  font-weight: normal;
  background: limegreen;
}
body .buttons {
  width: 78%;
  float: left;
}
body button {
  display: block;
  margin: 3% auto;
  width: 75%;
  padding: 5%;
  font-size: 1.4rem;
  background: limegreen;
  border: 4px solid black;
  font-weight: bold;
  outline: none;
  border-radius: 10px;
  font-family: 'Slabo 27px', sans-serif;
}
body .marks h2:nth-child(1) {
  color: limegreen;
}
body .marks h2:nth-child(2) {
  color: crimson;
}
body .marks span {
  display: block;
}
