/* Imports and general selectors */
@import url('https://fonts.googleapis.com/css?family=Hind');
body, html {box-sizing: border-box;}
*: *:before, *::after {box-sizing: inherit;}
body {
  font-family: "Hind", sans-serif;
  padding: 80px 0 0 0;
  height: 100vh;
  overflow: hidden;
  background: url(lesson80.jpg);
  background-position: center;
  background-size: cover;
  margin: 0;
}
hr {
  width: 80%;
  border: 0.5px solid rgba(255, 255, 255, 0.7);
}
.content__welcome h1 {
  font-size: 4rem;
  margin: 0;
}


/* Class selectors for nav bar */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 200px;
  padding: 0 50px 0 50px;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  background: white;
  color: black;
  transition: all 1s;
}
.nav-bar__title {align-items: center; margin: 20px 0;}
.nav-bar__title, .nav-bar__nav, .nav-bar__user {
  margin: 5px 20px;
  padding: 0;
  display: flex;
  list-style-type: none;
  height: 100%;
}
.nav-bar li {display: flex; align-items: center; padding: 0 20px;}
.active {background: white;}


/* Class selectors for content */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.content__welcome {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.content__button {
  border-radius: 3px;
  border: 1px solid gray;
  outline: none;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 0.9rem;
}
.content__button:hover {
  background-color: lightgray;
}

/* Button for mobile users */
.menu-button {
  display: none;
  width: 40px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 3px;
  margin: 5px;
  outline: none;
  padding: 6px 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-self: right;
  grid-row: 1;
  grid-column: 3;
}
.menu-button__line {
  width: 25px;
  height: 3px;
  background-color: black;
  transition: all 0.3s linear;
  max-width: 100px;
}
.menu-button[aria-expanded="true"] > *:nth-child(1) {
transform: rotate(45deg) translateY(5px) translateX(4px)
}
.menu-button[aria-expanded="true"] > *:nth-child(2) {
  transform: rotate(-45deg) translateX(1px) translateY(-1px);
}
.menu-button[aria-expanded="true"] > *:nth-child(3) {
  max-width: 0;
}









@media (max-width: 800px) {
  .nav-bar {
    max-height: 50px;
    overflow: hidden;
    align-content: flex-start;
  }
  .menu-open .nav-bar {
    max-height: 500px;
  }
  .nav-bar__title {margin: 0;}
  .nav-bar__nav {
    grid-row: 2;
    grid-column: 1 / -1;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .nav-bar__user {
    grid-column: 1 / -1;
    flex-direction: column;
    margin-top: 0;
    justify-content: center;
  }
  .nav-bar li {padding: 10px 0;}
  .menu-button {
    display: flex;
  }
  .content {align-items: flex-start;}
}
