body, html { box-sizing: border-box; margin: 0;}
*, *:before, *:after { box-sizing: inherit; }
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');
body {
  font-family: 'Arimo', sans-serif;
}

:root {
  --banner-margin: 20px;
}

/* ------------------------------------------------------------- */

.small-title {
  grid-column: span 2;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.small-title:after {
  content: "";
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid gray;
  opacity: 0.4;
  height: 15px;
  display: block;
}
.normal-button {
  outline: none;
  border: 2px solid gray;
  background: transparent;
  color: white;
  font-size: 1.1rem;
  padding: 15px;
  margin: 20px 0;
  letter-spacing: 0.08rem;
}


/* ----------------------------------- */
/* MAJOR ELEMENT -- top banner section */
/* ----------------------------------- */
.banner {
  background-image: url('music_artist_splash_banner.png'), linear-gradient(135deg, #3c4c52 0%, #283034 100%);
  background-repeat: no-repeat;
  background-size: 60vh, auto;
  background-position: left 100px bottom, left 0 top 0;
  /* to account for the margin, the height should be reduced by the margin size */
  height: calc(100vh - (2 * var(--banner-margin)));
  min-height: 400px;
  margin: var(--banner-margin);
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 0 50px;
  color: white;
}
/* Logo image */
.banner__logo {
  padding: 20px;
  max-width: 100%;
}
/* Menu navigation */
.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  justify-content: flex-end;
}
.menu__nav-item {
  list-style-type: none;
  text-transform: uppercase;
  margin: 55px 25px;
  font-size: 0.9rem;
  font-weight: bold;
}
.menu__nav-link {
  text-decoration: none;
  color: white;
}
/* Artist title and latest news for the banner` */
.splash-banner {
  grid-column: -2;
  padding: 40px;
  justify-self: flex-end;
  text-transform: uppercase;
  text-align: right;
}
.splash-banner__name {
  margin: 0.2rem 0;
  font-size: 4.6rem;
}
.splash-banner__tour {
  margin: 0;
}
.splash-banner__date {
  margin: 0.2rem 0;
  color: gray;
}

/* ------------------------------ */
/* MAJOR ELEMENT -- about section */
/* ------------------------------ */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  color: #606368;
}
.about__quote {
  grid-column: span 2;
  font-family: cursive;
  font-size: 3.4rem;
  text-align: center;
}
.about__text {
  justify-self: right;
  text-align: justify;
  padding-left: calc(var(--banner-margin) * 5);
  line-height: 2.2rem;
  font-size: 1.2rem;
  font-family: 'Garamond';
  align-self: flex-start;
}
.about__image {
  justify-self: left;
  margin: 0 30px;
}
.about__image img {
  max-width: 200px;
  border-radius: 50%;
}

/* ------------------------------------ */
/* MAJOR ELEMENT -- latest work section */
/* ------------------------------------ */
.latest-work {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  color: #606368;
}
.latest-work__albums {
  grid-column: span 2;
  /*This is a grid itself*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}
.latest-work__see-all {
  color: #283034;
  opacity: 0.6;
  grid-column: span 2;
}
