@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

body, html { box-sizing: border-box; margin: 0;}
*, *:before, *:after { box-sizing: inherit; }
body {
  font-family: 'Arimo', sans-serif;
}

:root {
  --banner-margin: 20px;
}

/* ------------------------------------------------------------- */

.small-title {
  /* grid-column: span 2; */
  text-transform: uppercase;
  font-size: 0.9rem;
}
.small-title:after {
  content: "";
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid gray;
  opacity: 0.4;
  height: 15px;
  display: block;
}
.normal-button {
  text-transform: uppercase;
  border: 2px solid gray;
  background: transparent;
  color: white;
  font-size: 1.1rem;
  padding: 15px 35px;
  margin: 20px 0;
  letter-spacing: 0.08rem;
}


/* ----------------------------------- */
/* MAJOR ELEMENT -- top banner section */
/* ----------------------------------- */
.banner {
  background-image: url('music_artist_splash_banner.png'), linear-gradient(135deg, #3c4c52 0%, #283034 100%);
  background-repeat: no-repeat;
  background-size: 60vh, auto;
  background-position: left 100px bottom, left 0 top 0;
  /* to account for the margin, the height should be reduced by the margin size */
  height: calc(100vh - (2 * var(--banner-margin)));
  min-height: 400px;
  margin: var(--banner-margin);
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 0 50px;
  color: white;
}
/* Logo image */
.banner__logo {
  padding: 20px;
  max-width: 100%;
}
/* Menu navigation */
.menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  justify-content: flex-end;
}
.menu__nav-item {
  list-style-type: none;
  text-transform: uppercase;
  margin: 55px 25px;
  font-size: 0.9rem;
  font-weight: bold;
}
.menu__nav-link {
  text-decoration: none;
  color: white;
}
/* Artist title and latest news for the banner` */
.splash-banner {
  grid-column: -2;
  padding: 40px;
  justify-self: flex-end;
  text-transform: uppercase;
  text-align: right;
}
.splash-banner__name {
  margin: 0.2rem 0;
  font-size: 4.6rem;
}
.splash-banner__tour {
  margin: 0;
}
.splash-banner__date {
  margin: 0.2rem 0;
  color: gray;
}

/* ------------------------------ */
/* MAJOR ELEMENT -- about section */
/* ------------------------------ */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  color: #606368;
  margin-top: 75px;
}
.about__title {
  grid-column: span 2;
}
.about__quote {
  grid-column: span 2;
  font-family: cursive;
  font-size: 3.4rem;
  text-align: center;
  margin: 20px;
}
.about__text {
  justify-self: right;
  text-align: justify;
  padding-left: calc(var(--banner-margin) * 5);
  line-height: 2.2rem;
  font-size: 1.2rem;
  font-family: 'Garamond';
  align-self: flex-start;
}
.about__image {
  justify-self: left;
  margin: 0 30px;
}
.about__image img {
  max-width: 200px;
  border-radius: 50%;
}

/* ------------------------------------ */
/* MAJOR ELEMENT -- latest work section */
/* ------------------------------------ */
.latest-work {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  color: #606368;
  margin: 75px var(--banner-margin);
}
.latest-work__albums {
  grid-column: span 2;
  width: 100%;
  margin-top: 20px;
  /*This is a grid itself*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 15px;
}
.album {
  display: grid;
  grid-template-rows: 1fr auto;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
.album__art {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.album__art:after {
  background-size: contain;
  content: "";
  display: block;
  height: 150px;
  background: url(https://b.thumbs.redditmedia.com/2x_qjvsvFWbFpCK3Bg_LknS7bObByPbnPTz-DdyFr9I.jpg);
  grid-column: 1;
  grid-row: 1;
  width: 150px;
  background-repeat: no-repeat;
  justify-self: flex-end;
}
.album__art:hover > .album__art-vinyl {
  transform: translateX(0px)
}
.album__art-cover {
  width: 160px;
  height: 165px;
  justify-self: flex-end;
  grid-column: 1;
  grid-row: 1;
}
.album__art-vinyl {
  width: 80px;
  justify-self: flex-start;
  /* Hide it behind the cover */
  transform: translateX(-40px) translateY(-1px);
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
}
/* button for see all  */
.latest-work__see-all {
  color: #283034;
  opacity: 0.6;
  grid-column: span 2;
}

/* ----------------------------- */
/* MAJOR ELEMENT -- video player */
/* ----------------------------- */
.splash-video {
  display: grid;
  width: 100%;
  color: white;
  align-items: center;
  justify-items: center;
}
/* Make all children on top of each other (close button and play button) */
.splash-video > * {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash-video__play {
  z-index: 9999;
  font-size: 4.0rem;
  align-self: center;
  justify-self: center;
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  padding: 30px 30px 30px 45px;
}
.splash-video__close {
  font-size: 3rem;
  z-index: 9999;
  justify-self: flex-end;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  align-self: flex-start;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.splash-video__video {
  width: 70%;
  max-height: 98vh;
}
.stopped .splash-video__close {
  display: none;
}

/* ----------------------------- */
/* MAJOR ELEMENT -- tour dates   */
/* ----------------------------- */
.tour-schedule {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  justify-items: center;
  color: #606368;
  margin: 75px var(--banner-margin);
}
